<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Employee Onboarding System</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/css/all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body class="all-bg">
    <div class="container-fluid ">
      <div class="row banner" id="home">
        <div class="col-12 overlay">
          <nav class="navbar navbar-expand-lg mb-5 px-5">
            <div class="container-fluid ">
              <a class="navbar-brand" id="logo" href="{{url_for('home')}}">Dip <strong class="logo-text">TEK</strong></a>
              <button class="navbar-toggler" id="toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="Contact.html">Contact us</a>
                  </li>
                </ul>
                <a href="{{url_for('login')}}" class="btn text-light mybtn"> Sign In</a>
                <!-- <button type="button" class="btn text-light mybtn" data-bs-toggle="modal" data-bs-target="#myLoginModal">
                  Sign In
                </button> -->
                       
              </div>
            </div>
          </nav>
          
          <div class="text-center d-flex justify-content-center"> 
        {#  {% set msg = get_flashed_messages(with_categories=True)%}
          {% if msg %}
            {% for cat, message in msg %}
              {% if cat == 'failed' %}
              <div class="alert alert-danger" role="alert">{{message}}</div>
              {% endif %}
              {% if cat == 'success' %}
              <p class="alert alert-danger" role="alert">{{message}}</p>
              {% endif %}
            {% endfor %}
          {% endif %} #}
          </div>


          <div class="form-sect d-flex mt-5 justify-content-center ">
            <div class="row col-md-8 bg-light justify-content-center">
                <div class="col-md-5 my-auto">
                    <div class="text-wrap p-4 p-lg-5  text-center d-flex align-items-center">
                        <div class="text">
                            <a class="navbar-brand" id="logo" href="{{url_for('home')}}">Dip <strong class="logo-text">TEK</strong></a>
                            <p>Don't have an account?</p>
                            <a href="{{url_for('register')}}" class="btn btn-white btn-outline-white">Sign Up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign In</h3>
                            </div>
                        </div>
                    <form action="{{url_for('login')}}" method="post" class="signin-form col-md-12" novalidate>
                      {{loginform.csrf_token}}
                            <div class="form-group mb-3">
                              {{loginform.email.label(class_='label')}}
                              {{loginform.email(class_='form-control')}}
                              {% for error in loginform.email.errors %}
                              <span class="text-danger">{{error}}</span>
                              {% endfor %}
                                <!-- <label class="label" for="name">Email</label>
                                <input type="text" class="form-control " name="email"> -->
                            </div>
                        <div class="form-group mb-3">
                          {{loginform.password.label(class_='label')}}
                          {{loginform.password(class_='form-control')}}
                          {% for error in loginform.password.errors %}
                          <span class="text-danger">{{error}}</span>
                          {% endfor %}
                            <!-- <label class="label" for="password">Password</label>
                            <input type="password" class="form-control" name="password"> -->
                        </div>
                        <div class="form-group">
                          {{loginform.login(class_=" form-control btn btn-primary")}}
                          <!-- <button type="submit" class="form-control btn btn-primary px-3">Sign In</button> -->
                        </div>
                     </form>
                  </div>
                </div>
            </div>
          </div>




          <!-- <section class="ftco-section mt-5">
            <div class="container col-md-8  bg-light">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                                <div class="text">
                                    <h2>Welcome to login</h2>
                                    <p>Don't have an account?</p>
                                    <a href="#" class="btn btn-white btn-outline-white">Sign Up</a>
                                </div>
                            </div>
                            <div class="login-wrap p-4 p-lg-5">
                          <div class="d-flex">
                              <div class="w-100">
                                  <h3 class="mb-4">Sign In</h3>
                              </div>
                          </div>
                    <form action="#" class="signin-form col-md-12">
                              <div class="form-group mb-3">
                                  <label class="label" for="name">Email</label>
                                  <input type="text" class="form-control " name="email" placeholder="Username" required>
                              </div>
                        <div class="form-group mb-3">
                            <label class="label" for="password">Password</label>
                          <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary px-3">Sign In</button>
                        </div>
                    </form>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         -->
        </div>
		</div>

    <!-- Footer -->

    <div class="row footer-text">
      <div class="col-md-12 ">
        <div class="d-flex justify-content-center">
          <p class="copyright text-light">&copy; Copyright <strong>DipTEK</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
    </div>     
      </div>
      <script src="bootstrap/js/bootstrap.bundle.js"></script>

</body>
</html>