<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - Dashboard</title>
    <link rel="icon" type="image/png" href="/static/assets/images/ladolsymbol.png">
    <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/static/assets/css/admin2.css" rel="stylesheet">
</head>


<body id="page-top">
  <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="navbar-brand" id="logo" href="{{url_for('admin_dashboard')}}"><img src="/static/assets/images/ladol.png" class="img-fluid" id="logo" alt=""></a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin_dashboard')}}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- Divider -->
           

            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin_requests')}}">
                    <i class="fas fa-fw fa-list"></i>
                    <span>All Requests</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin_users')}}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Users</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Settings Dropdown -->
            <li class="nav-item active">
            <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#settingsDropdown" role="button" aria-expanded="false" aria-controls="settingsDropdown">
                <i class="fas fa-fw fa-cog"></i>
                <span>Settings</span></a>
            </a>
            <div class="collapse" id="settingsDropdown">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-3">
              <!-- Divider -->
              <hr class="sidebar-divider">
                <li>
                    <a href="{{url_for('admin_change_password')}}" class="nav-link">
                    <i class="fas fa-fw fa-lock"></i>
                    <span>Change Password</span> 
                    </a>
                </li>
                <li>
                    <a href="{{(url_for('admin_logout'))}}" class="nav-link text-white">
                    <i class="fas fa-fw fa-power-off"></i>
                    <span>Logout</span> 
                    </a>
                </li>
                </ul>
            </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->



    <div id="content-wrapper">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          <div class="text-dark font-weight-bold mx-2">
            Welcome, Admin
          </div>
        </nav>
        <div class="container-fluid">
          <div class="mb-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert d-flex justify-content-center col-md-6 alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Admin Dashboard</h1>
            <h1 class="h3 mb-0 text-gray-800">Total Requests: {{total_requests}}</h1>
          </div>
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pending requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><h3>{{ pending_requests }}</h3></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-spinner fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Approved requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ approved_requests }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-check fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected Requests</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{rejected_requests}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-ban fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Terminated Requests</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ terminated_requests }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-times-circle fa-2x text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

                  <div class=" col-md-12 mt-5 card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">Pending Requests</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Request No</th>
                                            <th>Visitor's Fullname</th>
                                            <th>Company</th>
                                            <th>Departure Date</th>
                                            <th>Expected Date</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for request in requests %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ request.request_no }}</td>
                                            <td>{{request.fullname}}</td>
                                            <td>{{request.company}}</td>
                                            <td>{{request.expected_date}}</td>
                                            <td>{{request.departure_date}}</td>
                                            <td>
                                                <span class="badge text-light
                                                    {% if request.status.name == 'APPROVED' %} bg-success 
                                                    {% elif request.status.name == 'REJECTED' %} bg-warning text-dark
                                                    {% elif request.status.name == 'TERMINATED' %} bg-danger  
                                                    {% else %} bg-primary text-dark 
                                                    {% endif %}">
                                                    {{ request.status.value|capitalize }}
                                                </span>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a href="{{url_for('admin_request_details', request_id=request.request_id)}}" class="btn btn-sm btn-primary">
                                                        <i class="fas fa-eye"></i> View
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        {% else %}
                                        <tr>
                                          <td colspan="5" class="text-center">No pending requests 🎉</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
          </div>
        </div>
      </div>
    </div>

                  
  </div>


  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <p>&copy; <span>Copyright</span> <strong class="px-1 sitename">Ladol</strong> <span>All Rights Reserved</span></p>
      </div>
    </div>
  </footer>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
    <!-- <script src="/static/bootstrap/js/bootstrap.bundle.js"></script> -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/assets/js/sb-admin-2.min.js"></script>
</body>
</html>
